
:global {
  .menuCheckbox {
    padding-right: 22px !important;
    //background-color: #108ee9 !important;
  }
  .ac-hand-tooltip {
    position: fixed;
    background-color: #FFF;
    //border-radius: 3px;
    //box-shadow: 0px 2px 4px #888;
    box-shadow: 0px 0px 4px #888;
    //font-size: 10px;
    z-index: 100;
    padding-left: 5px;
    padding-right: 5px;
  }

  // 三道杠
  .three-bar {
    float: right;
    font-size: 10px;
    cursor: default;
    width: 16px;
    text-align: center;
  }

}

